# Project Luther - Part 1

For this project, my goal is to predict the total box office gross on the opening week using a linear regression model. This notebook contains all the data scraping to create the dataframes needed, while the merging of these dataframes and further data cleaning can be found in the other jupyter notebook in this directory: "02 - Luther - Data Cleaning & Merge". My variables of interest come from these sources: BoxOfficeMojo, Youtube, Open Movie Database(OMDB), Google Trends, and Bureau of Labor Statistics.

#### Outline:
* Scrape Box Office Data Using Beautiful Soup (Web Scraping from BoxOfficeMojo.com)
    * Movie statistics for top 100movies 2013-2017 (opening gross($), theaters etc)
    * Actors & directors for each movie in the list
    * Top 500 actors & directors total gross & number of movies directed or featured
* Obtain Youtube statistics for movie trailers (Google API)
* Obtain Google trends data for movie trailer searches using Pytrend API
* Scrape movie ratings for rotten tomatoes, IMDB, Metacritic via Open Movie DataBase(OMDB) API
* Convert downloaded Unemployment data (Bureau of Labor Statistics) into a dataframe that can be merged

# Scrape Box Office Data Using BeautifulSoup
I will be scraping the box office data from boxofficemojo

In [2]:
import requests
from bs4 import BeautifulSoup
import re
import pandas as pd
import time
import seaborn as sns

In [3]:
# define a function that can scrape top 100 movies of a given year in boxofficemojo.com
# scrape movie name, opening gross, theaters, release date
def get_opening(soup, year):
    table = soup.find_all('table')[4].find_all('tr')[2].find('table')
    movie_list = []
    for row in table.find_all('tr')[2:5]:
        cells = row.find_all('td')
        if len(cells) > 0:
            url = cells[1].find('a')['href']
            movie_name = cells[1].text
            tot_gross = cells[3].text
            opening = cells[5].text
            theaters = cells[6].text
            release_date = cells[7].text + "/" + year
            cell_dict = {'url':url,'movie_name': movie_name, 
                         'tot_gross':tot_gross, 'opening': opening, 
                         'theaters': theaters, 'release_date': release_date}
            movie_list.append(cell_dict)
    return movie_list

In [4]:
# Loop over selected years (2013 - 2017) to scrape movie data
years = ['2018']

def scrape_boxoffice(years):
    movie_list = []
    for year in years:
        url = 'http://www.boxofficemojo.com/yearly/chart/?yr='
        url = url + year
        response = requests.get(url)
        soup = BeautifulSoup(response.text, 'lxml')
        if len(movie_list) == 0:
            movie_list = get_opening(soup, year)
        else:
            movie_list = movie_list + get_opening(soup, year)
        # pause for 5seconds to limit traffic
        time.sleep(5)
        print("Successfully scraped " + year + "'s list")
    return movie_list
    
movie_list = scrape_boxoffice(years)

Successfully scraped 2018's list

In [7]:
# Convert the list of dictionaries to a pandas dataframe
mojo_df = pd.DataFrame(movie_list)
mojo_df = mojo_df.drop([2],0)

In [8]:
# create new column called movie, with the years stripped
# create a new column converting release date to date_time
# convert opening(in dollars) to numeric
movie_strip = mojo_df.movie_name.replace("[(]?\d\d\d\d[)]","", regex = True).str.strip()
date_time = pd.to_datetime(mojo_df.release_date, format="%m/%d/%Y")
mojo_df.insert(loc=1, column='movie', value=movie_strip)
mojo_df.insert(loc=3, column='date_time', value=date_time)
mojo_df.head()

,movie_name,movie,opening,date_time,release_date,theaters,tot_gross,url
0,Black Panther,Black Panther,"$202,003,951",2018-02-16,2/16/2018,"4,020","$689,626,132",/movies/?id=marvel2017b.htm
1,Avengers: Infinity War,Avengers: Infinity War,"$257,698,183",2018-04-27,4/27/2018,"4,474","$322,831,270",/movies/?id=marvel0518.htm

### Get list of actors and directors for each movie from boxofficemojo

In [9]:
def get_actdir(soup, movie):
    """ returns dictionary"""
    actdir = dict()
    content = soup.find_all(class_='mp_box_content')[2].find_all('tr')
    for row in content:
        try:
            key = row.find_all("td")[0].text
        except:
            key = "directors"
            val_list = ["None"]
        if (key == "Directors:") or (key == "Director:"):
            key = "directors"
        elif (key == "Actors:") or (key == "Actor:"):
            key = "actors"
        val_list = []
        try:
            for ro in row.find_all("td")[1].find_all("a"):
                val_list.append(ro.text)
        except:
            pass
        actdir[key] = val_list
        actdir["movie_name"] = movie
    return actdir

In [11]:
# Loop over selected years (2013 - 2017) to scrape movie data

def scrape_actdir(mojo_df):
    actdir_list = []
    for i in range(len(mojo_df)):
        movie = mojo_df.movie_name.iloc[i]
        url = 'http://www.boxofficemojo.com' + mojo_df.url.iloc[i]
        response = requests.get(url)
        # pause for 2seconds to limit traffic
        time.sleep(2)
        soup = BeautifulSoup(response.text, 'lxml')
        actdir = get_actdir(soup, movie)
        actdir_list.append(actdir)
        if i % 50 == 0:
            print("Successfully scraped", i, "movies' actors and directors")
    return actdir_list
    
actdir_list = scrape_actdir(mojo_df)

Successfully scraped 0 movies' actors and directors

In [13]:
# Save actors and directors dataframe
actdir_df = pd.DataFrame(actdir_list)
actdir_df = actdir_df[["actors","directors","movie_name"]]
actdir_df.to_pickle("actdir_2018.pkl")
actdir_df.head()

,actors,directors,movie_name
0,"[Chadwick Boseman, Lupita Nyong'o, Michael B. ...",[Ryan Coogler],Black Panther
1,"[Robert Downey, Jr., Chris Hemsworth, Mark Ruf...","[Joe Russo, Anthony Russo]",Avengers: Infinity War

In [14]:
mojo_df = pd.merge(mojo_df,actdir_df,on="movie_name",how="inner")
mojo_df = mojo_df.drop(["url", "release_date"],1)
mojo_df.head()

,movie_name,movie,opening,date_time,theaters,tot_gross,actors,directors
0,Black Panther,Black Panther,"$202,003,951",2018-02-16,"4,020","$689,626,132","[Chadwick Boseman, Lupita Nyong'o, Michael B. ...",[Ryan Coogler]
1,Avengers: Infinity War,Avengers: Infinity War,"$257,698,183",2018-04-27,"4,474","$322,831,270","[Robert Downey, Jr., Chris Hemsworth, Mark Ruf...","[Joe Russo, Anthony Russo]"

In [15]:
# Save dataframe as csv
#mojo_df.to_csv("mojo_2018.csv")
# Save dataframe as pickle
mojo_df.to_pickle("mojo_2018.pkl")

### Checkpoint for loading opening box office gross dataframe

In [16]:
# Read dataframe from pickle
mojo_df = pd.read_pickle('mojo_2018.pkl')

In [20]:
mojo_df.sample(2)

,movie_name,movie,opening,date_time,theaters,tot_gross,actors,directors
1,Avengers: Infinity War,Avengers: Infinity War,"$257,698,183",2018-04-27,"4,474","$322,831,270","[Robert Downey, Jr., Chris Hemsworth, Mark Ruf...","[Joe Russo, Anthony Russo]"
0,Black Panther,Black Panther,"$202,003,951",2018-02-16,"4,020","$689,626,132","[Chadwick Boseman, Lupita Nyong'o, Michael B. ...",[Ryan Coogler]

# Scrape Actors & Directors Data From BoxOfficeMojo Using BeautifulSoup

In [17]:
import requests
from bs4 import BeautifulSoup
import re
import pandas as pd
import time
import seaborn as sns

### Scraping directors

In [18]:
# define a function that can scrape top 500 directors by total gross in boxofficemojo.com
# scrape director total gross, director average gross, and number of movies
def get_director(soup):
    table = soup.find_all('table')[3]
    director_list = []
    for row in table.find_all('tr')[1:51]:
        cells = row.find_all('td')
        if len(cells) > 0:
            director_name = cells[1].text
            dir_gross = cells[2].text
            num_movies = cells[3].text
            dir_agross = cells[4].text
            cell_dict = {'director': director_name, 'dir_gross': dir_gross, 'dir_nmovies': num_movies, 'dir_agross': dir_agross}
            director_list.append(cell_dict)
    return director_list

In [19]:
# Loop over selected years (2013 - 2017) to scrape movie data
pages = ['1','2','3','4','5','6','7','8','9','10']

def scrape_director(pages):
    director_list = []
    for page in pages:
        url = 'http://www.boxofficemojo.com/people/?view=Director&pagenum=' + page +'&sort=sumgross'
        response = requests.get(url)
        soup = BeautifulSoup(response.text, 'lxml')
        if len(director_list) == 0:
            director_list = get_director(soup)
        else:
            director_list = director_list + get_director(soup)
        # pause for 5seconds to limit traffic
        time.sleep(5)
        print("Successfully scraped page" + page + "'s list")
    return director_list
    
director_list = scrape_director(pages)

Successfully scraped page1's list
Successfully scraped page2's list
Successfully scraped page3's list
Successfully scraped page4's list
Successfully scraped page5's list
Successfully scraped page6's list
Successfully scraped page7's list
Successfully scraped page8's list
Successfully scraped page9's list
Successfully scraped page10's list

In [230]:
# #Test case
# page = "2"
# url = 'http://www.boxofficemojo.com/people/?view=Director&pagenum=' + page +'&sort=sumgross'
# response = requests.get(url)
# soup = BeautifulSoup(response.text, 'lxml')
# tb = soup.find_all('table')[3]
# for row in tb.find_all('tr')[1:5]:#.find('table')#[1]#.find('table')
#     print(row.find_all('td')[2].text)

In [233]:
# Convert the list of dictionaries to a pandas dataframe
director_df = pd.DataFrame(director_list)
director_df.sample(5)

    dir_agross dir_gross dir_nmovies             director
236      $40.7    $285.1           7  Catherine Hardwicke
493      $24.2     $72.7           3        Rick Famuyiwa
71      $186.0    $743.8           4            Joe Russo
128      $47.6    $524.1          11         Michael Mann
271      $48.5    $242.5           5           John Moore

In [229]:
# Pickle director dataframe
director_df.to_pickle("director_df.pkl")

### Scraping actor dataset

In [238]:
# define a function that can scrape top 500 actors by total gross in boxofficemojo.com
# scrape director total gross, director average gross, and number of movies
def get_actor(soup):
    table = soup.find_all('table')[3]
    actor_list = []
    for row in table.find_all('tr')[1:51]:
        cells = row.find_all('td')
        if len(cells) > 0:
            actor_name = cells[1].text
            actor_gross = cells[2].text
            actor_nmovies = cells[3].text
            actor_agross = cells[4].text
            cell_dict = {'actor': actor_name, 'act_gross': actor_gross, 'act_nmovies': actor_nmovies,
                         'act_agross': actor_agross}
            actor_list.append(cell_dict)
    return actor_list

In [244]:
# Loop over selected years (2013 - 2017) to scrape movie data
pages = ['1','2','3','4','5','6','7','8','9','10']

def scrape_actor(pages):
    actor_list = []
    for page in pages:
        url = 'http://www.boxofficemojo.com/people/?view=Actor&pagenum=' + page +'&sort=sumgross'
        response = requests.get(url)
        soup = BeautifulSoup(response.text, 'lxml')
        if len(actor_list) == 0:
            actor_list = get_actor(soup)
        else:
            actor_list = actor_list + get_actor(soup)
        # pause for 5seconds to limit traffic
        time.sleep(5)
        print("Successfully scraped page" + page + "'s list")
    return actor_list
    
actor_list = scrape_actor(pages)

Successfully scraped page1's list
Successfully scraped page2's list
Successfully scraped page3's list
Successfully scraped page4's list
Successfully scraped page5's list
Successfully scraped page6's list
Successfully scraped page7's list
Successfully scraped page8's list
Successfully scraped page9's list
Successfully scraped page10's list

In [275]:
actor_df = pd.DataFrame(actor_list)
actor_df.sample(5)

    act_agross act_gross act_nmovies           actor
138      $39.8  $1,829.0          46    Danny DeVito
287      $78.1  $1,171.8          15  Mads Mikkelsen
86       $63.6  $2,227.5          35    Mark Ruffalo
154     $443.4  $1,773.6           4    Daisy Ridley
351      $89.4    $983.0          11    Jai Courtney

In [276]:
#remove commas
actor_df.actor = actor_df.actor.replace(",","",regex = True)

In [277]:
#Pickle actor dataframe
actor_df.to_pickle("actor_df.pkl")

### Data cleaning for actors & directors df

In [21]:
# Convert 
omdb_df.imdb = pd.to_numeric(omdb_df.imdb.replace("/10","", regex = True).str.strip())

NameError: name 'omdb_df' is not defined

# Get Youtube Statistics Using Google API
Reference:
Pulled many bits of code from
https://www.analyticsvidhya.com/blog/2014/09/mining-youtube-python-social-media-analysis/

In [22]:
from apiclient.discovery import build #pip install google-api-python-client
from apiclient.errors import HttpError #pip install google-api-python-client
from oauth2client.tools import argparser #pip install oauth2client
import pandas as pd

In [23]:
DEVELOPER_KEY = "AIzaSyBDbAffV6b-r_fmOFvk6XLE1MoGTwno_bQ" 
YOUTUBE_API_SERVICE_NAME = "youtube"
YOUTUBE_API_VERSION = "v3"
youtube = build(YOUTUBE_API_SERVICE_NAME, YOUTUBE_API_VERSION, developerKey=DEVELOPER_KEY)

In [ ]:
# argparser.add_argument("--q", help="Search term", default="Black Panther trailer")
# #change the default to the search term you want to search
# argparser.add_argument("--max-results", help="Max results", default=5)
# #default number of results which are returned. It can vary from 0 - 100
# args = argparser.parse_args()
# options = args

In [24]:
#Define two functions to be utilized in the next cell:
# 1) get the video id, 2) use the video id to retrieve statistics

# Call the search.list method to retrieve results matching the specified
 # query term.
def get_video_id(movie_name):
    max_results = 1
    trailer = movie_name + "official trailer"
    search_response = youtube.search().list(
     q = trailer,
     type = "video",
     part = "id,snippet",
     maxResults = max_results
    ).execute()
    return search_response

# Get relevant video statistics using video id
def get_statistics(search_response):
    videos = {}
    for search_result in search_response.get("items", []):
        if search_result["id"]["kind"] == "youtube#video":
            videos[search_result["id"]["videoId"]] = search_result["snippet"]["title"]
    # For multiple videos per search, need to merge id's. Not necessary for 1 video
    s = ','.join(videos.keys())
    videos_list_response = youtube.videos().list(
     id = s,
     part='id,statistics'
    ).execute()
    return videos_list_response, videos

In [25]:
# Create a list of dictionaries 
final_list = []
max_results = 1
for movie in mojo_df.movie_name:
    search_response = get_video_id(movie)
    video_response, videos = get_statistics(search_response)
    for i in video_response['items']:
        temp_res = dict(movie_name = movie, v_id = i['id'], v_title = videos[i['id']])
        temp_res.update(i['statistics'])
        final_list.append(temp_res)

In [26]:
# Convert to dataframe
youtube_df = pd.DataFrame(final_list)
youtube_df

,commentCount,dislikeCount,favoriteCount,likeCount,movie_name,v_id,v_title,viewCount
0,58997,14891,0,407336,Black Panther,xjDjIWPwcPU,Marvel Studios' Black Panther - Official Trailer,36956315
1,217017,39549,0,1713010,Avengers: Infinity War,QwievZ1Tx-8,Marvel Studios' Avengers: Infinity War - Offic...,74357037

In [27]:
# Save dataframe as pickle
youtube_df.to_pickle("youtube_2018.pkl")

In [ ]:
# # TEST CODE FOR 1 movie
# movie_name = 'black panther official trailer'

# def get_movie_id(movie_name):
#     movie_name = movie_name
#     max_results = 1
#     search_response = youtube.search().list(
#      q = movie_name + " official trailer",
#      type = "video",
#      part = "id,snippet",
#      maxResults = max_results
#     ).execute()
#     return search_response
# # Add each result to the appropriate list, and then display the lists of
#  # matching videos.
#  # Filter out channels, and playlists.
# def get_statistics(search_response):
#     videos = {}
#     for search_result in search_response.get("items", []):
#         if search_result["id"]["kind"] == "youtube#video":
#             videos[search_result["id"]["videoId"]] = search_result["snippet"]["title"]
#     # For multiple videos per search, need to merge id's. Not necessary for 1 video
#     s = ','.join(videos.keys())
#     videos_list_response = youtube.videos().list(
#      id=s,
#      part='id,statistics'
#     ).execute()
#     return videos_list_response

# res = []
# movie_name = "black panther"
# for i in videos_list_response['items']:
#     temp_res = dict(movie_name = movie_name, v_id = i['id'], v_title = videos[i['id']])
#     temp_res.update(i['statistics'])
#     res.append(temp_res)

### Checkpoint for loading youtube data frame

In [30]:
# Read youtube dataframe from pickle
youtube_df = pd.read_pickle('youtube_2018.pkl')

In [28]:
youtube_df.sample(2)

,commentCount,dislikeCount,favoriteCount,likeCount,movie_name,v_id,v_title,viewCount
1,217017,39549,0,1713010,Avengers: Infinity War,QwievZ1Tx-8,Marvel Studios' Avengers: Infinity War - Offic...,74357037
0,58997,14891,0,407336,Black Panther,xjDjIWPwcPU,Marvel Studios' Black Panther - Official Trailer,36956315

# Get Google Trends Data Through Pytrends API

In [29]:
# import selenium and run chromedriver

# !pip install selenium 
# download chromedriver: https://sites.google.com/a/chromium.org/chromedriver/downloads      

from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.support.ui import Select
import time
import os

chromedriver = "/Users/petermin/Downloads/chromedriver" # path to the chromedriver executable
os.environ["webdriver.chrome.driver"] = chromedriver
driver = webdriver.Chrome(chromedriver)
#driver.get("https://trends.google.com/trends/")

In [30]:
# search the movie in google trends
#link with geo set as US and youtube searches
driver.get('https://trends.google.com/trends/explore?geo=US&gprop=youtube')
search_term = driver.find_element_by_css_selector("input")
#time.sleep(1)
search_term.send_keys("Dunkirk")
#time.sleep(2)
search_term.send_keys(Keys.RETURN)

In [36]:
#select_date = Select(driver.find_element_by_css_selector("md-select-value"))
#select_date.click()
#driver.find_element_by_xpath("//md-option[@name='Custom time range...']/option[text()='option_text']").click()

In [35]:
#select_date.select_by_visible_text('select_option_30')

In [34]:
#select_date = Select(driver.find_element_by_css_selector("md-select-value"))
#select_date = Select(driver.find_element_by_id("select_value_label_16"))

#select = driver.find_element_by_xpath("//custom-date-picker/ng-include/md-select")
#driver.find_element_by_xpath("//md-select-value").click()

#driver.find_element_by_id("select_container_18")


# select = driver.find_element_by_xpath("//md-select-menu/md-content")
# for option in select.find_elements_by_tag_name('md-option'):
#     if option.id == "select_option_30":
#         option.click()

In [33]:
# Pytrends API
from dateutil.relativedelta import relativedelta
import datetime as dt
import time
from pytrends.request import TrendReq
pytrends = TrendReq(hl='en-US', tz=360)

In [35]:
# Use pytrends API to collect the youtube search trend(worldwide) for the movie
# starting from 6 months prior to movie release.
# This dataset will be used to normalize the youtube viewcount data
# trend_list is going to be a list of dictionaries to be converted into a dataframe
gtrend_list = []
for i in range(len(mojo_df)):
    kw_list = [mojo_df.movie[i] + " trailer"]
    # start the trend data from 6 months prior to movie release date to Apr 18th
    pytrends.build_payload(kw_list, cat=0, timeframe=
                           str(mojo_df.date_time[i].date() - relativedelta(months=6))
                           + ' 2018-04-18', gprop='youtube')
    raw = pytrends.interest_over_time()
    # if there's not enough searches on google trends and returns empty df, set ratio as 1
    if raw.empty:
        ratio = 1
    # only select search data greater than 3% of highest, in order to not penalize
    # the older videos too much
    else:    
        interest = raw[raw.iloc[:, 0] >= 3].iloc[:,0]
        sum_release = interest[:mojo_df.date_time[i]].sum()
        sum_today = interest.sum()
        ratio = round(sum_release / sum_today, 3)
    trend_dict = {'movie': mojo_df.movie[i], 'gtrend': ratio}
    gtrend_list.append(trend_dict)
    time.sleep(.2)
    if (i + 1) % 50 == 0:
        print("got google trends for", i + 1,"movies")
gtrend_df = pd.DataFrame(gtrend_list)

In [38]:
# This code is for setting a cap at 1 year after release date
gtrend_list = []
for i in range(len(mojo_df)):
    kw_list = [mojo_df.movie[i] + " trailer"]
    # start the trend data from 6 months prior to movie release date to Apr 18th
    if (mojo_df.date_time[i].date() + relativedelta(months=12)) <= mojo_df.date_time[i].date():
        pytrends.build_payload(kw_list, cat=0, timeframe=
                               str(mojo_df.date_time[i].date() - relativedelta(months=6))
                               + " " + str(mojo_df.date_time[i].date() + relativedelta(months=12)),
                               gprop='youtube')
    else:
        pytrends.build_payload(kw_list, cat=0, timeframe=
                               str(mojo_df.date_time[i].date() - relativedelta(months=6))
                               + ' 2018-05-03', # Change this to today's date
                               gprop='youtube')
    raw = pytrends.interest_over_time()
    # if there's not enough searches on google trends and returns empty df, set ratio as 1
    if raw.empty:
        ratio = 1
    else:    
        interest = raw.iloc[:,0]
        sum_release = interest[:mojo_df.date_time[i]].sum()
        sum_today = interest.sum()
        ratio = round(sum_release / sum_today, 3)
    trend_dict = {'movie': mojo_df.movie[i], 'gtrend': ratio}
    gtrend_list.append(trend_dict)
    time.sleep(1)
    if (i + 1) % 50 == 0:
        print("got google trends for", i + 1,"movies")
gtrend_df = pd.DataFrame(gtrend_list)

In [39]:
gtrend_df.head()

   gtrend                   movie
0   0.458           Black Panther
1   0.905  Avengers: Infinity War

In [40]:
#gtrend_df is up to today's date
#gtrend_df is up to 1 year post release date
#mergeg_df = pd.merge(gtrend_df,gtrend2_df,on="movie",how="inner")
mojog_df = pd.merge(mojo_df,gtrend_df,on="movie",how="inner")
#Save dataframe
mojog_df.to_pickle("mojog_2018.pkl")

In [142]:
#Test code
# #str(mojo_df.date_time[i].date() - relativedelta(months=6)) + ' 2018-04-18'
# #kw_list = [mojo_df.movie[i] + " trailer"]
# kw_list = ["Tyler Perry's A Madea Christmas" + " trailer"]

# pytrends.build_payload(kw_list, cat=0, timeframe=
#                            str(mojo_df.date_time[66].date() - relativedelta(months=6))
#                            + ' 2018-04-18', gprop='youtube')
#     #artificially subtract 1 from interest data to reduce penalty on older videos
# raw = pytrends.interest_over_time()

# raw.empty

True

# Get OMDB data through Google API

In [41]:
#pip install omdb
import omdb
import json
import time

In [42]:
# Set API activation key
omdb.set_default('apikey', 74553915)

In [43]:
# Create a list of dictionaries 
#initialize
omdb_list = []
counter = 1

for movie_name in mojo_df.movie:
    res = omdb.request(t=movie_name)
    time.sleep(3)
    res_str = res.content.decode('utf-8')
    res_obj = json.loads(res_str)
    try:
        res_dict = dict(movie = movie_name, 
                        imdb = res_obj["Ratings"][0]["Value"],  
                        rotten_tomatoes = res_obj["Ratings"][1]["Value"],
                        metacritic = res_obj["Ratings"][2]["Value"], 
                        runtime = res_obj["Runtime"],
                        year = res_obj["Year"],
                        rated = res_obj["Rated"],
                        actors = res_obj["Actors"],
                        director = res_obj["Director"]
                       )
        omdb_list.append(res_dict)
    except:
        print("unable to fetch data for", movie_name)
        unfetched.append(movie_name)
        pass
    counter += 1
    if counter % 10 == 0:
        print("fetched", counter, "movie data")

In [44]:
# Save omdb dataframe
omdb_df = pd.DataFrame(omdb_list)

In [45]:
omdb_df = omdb_df.drop(["actors","director"],1)
omdb_df.head()

,imdb,metacritic,movie,rated,rotten_tomatoes,runtime,year
0,7.7/10,88/100,Black Panther,PG-13,96%,134 min,2018
1,9.0/10,68/100,Avengers: Infinity War,PG-13,84%,149 min,2018

In [141]:
# This should add up to 500
#len(unfetched)
len(omdb_list)+len(unfetched)

500

In [46]:
# Save dataframe as pickle
omdb_df.to_pickle("omdb_2018.pkl")

In [42]:
# #Sample code for 1 request
# a='Entourage'
# res = omdb.request(t=a)
# res_str = res.content.decode('utf-8')
# res_obj = json.loads(res_str)
# res_obj

### Checkpoint for loading omdb dataframe

In [437]:
# Read youtube dataframe from pickle
omdb_df = pd.read_pickle('omdb_2018.pkl')
len(omdb_df)

480

# Some data cleaning prior to merge

In [47]:
# Import all the dataframes
mojo_df = pd.read_pickle('mojo_2018.pkl')
youtube_df = pd.read_pickle('youtube_2018.pkl')
omdb_df = pd.read_pickle('omdb_2018.pkl')

In [48]:
#clean mojo df data
mojo_df.opening = mojo_df.opening.replace("\$","", regex = True).replace(",","", regex = True).str.strip()
mojo_df.opening = pd.to_numeric(mojo_df.opening)
mojo_df.theaters = mojo_df.theaters.replace(",","", regex = True).str.strip()
mojo_df.theaters = pd.to_numeric(mojo_df.theaters)
mojo_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2 entries, 0 to 1
Data columns (total 8 columns):
movie_name    2 non-null object
movie         2 non-null object
opening       2 non-null int64
date_time     2 non-null datetime64[ns]
theaters      2 non-null int64
tot_gross     2 non-null object
actors        2 non-null object
directors     2 non-null object
dtypes: datetime64[ns](1), int64(2), object(5)
memory usage: 144.0+ bytes

In [49]:
# select youtube df relevant data
youtube_df = youtube_df[["movie_name", "viewCount", "commentCount", "dislikeCount", "likeCount"]]

#replace nulls with 0
youtube_df = youtube_df.fillna(0)
# convert numeric str values to int
youtube_df.viewCount = pd.to_numeric(youtube_df.viewCount)
youtube_df.dislikeCount = pd.to_numeric(youtube_df.dislikeCount)
youtube_df.commentCount = pd.to_numeric(youtube_df.commentCount)
youtube_df.likeCount = pd.to_numeric(youtube_df.likeCount)
youtube_df = youtube_df.rename(columns ={"viewCount":"Yviews", "commentCount": "Ycomments", 
                                         "dislikeCount": "Ydislikes", "likeCount":"Ylikes"})
youtube_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 5 columns):
movie_name    2 non-null object
Yviews        2 non-null int64
Ycomments     2 non-null int64
Ydislikes     2 non-null int64
Ylikes        2 non-null int64
dtypes: int64(4), object(1)
memory usage: 160.0+ bytes

In [50]:
# Clean omdb data
omdb_df.imdb = pd.to_numeric(omdb_df.imdb.replace("/10","", regex = True).str.strip())
omdb_df.metacritic = pd.to_numeric(omdb_df.metacritic.replace("/100","", regex = True).str.strip())
omdb_df.rotten_tomatoes = pd.to_numeric(omdb_df.rotten_tomatoes.replace("%","", regex = True).str.strip())
omdb_df.runtime = pd.to_numeric(omdb_df.runtime.replace("min","", regex = True).str.strip())
omdb_df.year = pd.to_numeric(omdb_df.year)
omdb_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 7 columns):
imdb               2 non-null float64
metacritic         2 non-null int64
movie              2 non-null object
rated              2 non-null object
rotten_tomatoes    2 non-null int64
runtime            2 non-null int64
year               2 non-null int64
dtypes: float64(1), int64(4), object(2)
memory usage: 192.0+ bytes

In [52]:
# print length of each dataset
print(len(mojo_df), len(youtube_df), len(omdb_df))
#pickle
omdb_df.to_pickle("data/omdb_2018.pkl")

2 2 2

## Create Unemployment rate dataframe

In [458]:
#Create dataframe for unemployment rate
emp = pd.read_csv("unemployment rate.csv", sep=",")
emp.Year = emp.Year.astype(str)
emp

    Year   01   02   03   04   05   06   07   08   09    10   11   12
0   2008  5.0  4.9  5.1  5.0  5.4  5.6  5.8  6.1  6.1   6.5  6.8  7.3
1   2009  7.8  8.3  8.7  9.0  9.4  9.5  9.5  9.6  9.8  10.0  9.9  9.9
2   2010  9.8  9.8  9.9  9.9  9.6  9.4  9.4  9.5  9.5   9.4  9.8  9.3
3   2011  9.1  9.0  9.0  9.1  9.0  9.1  9.0  9.0  9.0   8.8  8.6  8.5
4   2012  8.3  8.3  8.2  8.2  8.2  8.2  8.2  8.1  7.8   7.8  7.7  7.9
5   2013  8.0  7.7  7.5  7.6  7.5  7.5  7.3  7.2  7.2   7.2  6.9  6.7
6   2014  6.6  6.7  6.7  6.3  6.3  6.1  6.2  6.2  5.9   5.7  5.8  5.6
7   2015  5.7  5.5  5.5  5.4  5.5  5.3  5.2  5.1  5.0   5.0  5.0  5.0
8   2016  4.9  4.9  5.0  5.0  4.7  4.9  4.9  4.9  5.0   4.9  4.6  4.7
9   2017  4.8  4.7  4.5  4.4  4.3  4.3  4.3  4.4  4.2   4.1  4.1  4.1
10  2018  4.1  4.1  4.1  NaN  NaN  NaN  NaN  NaN  NaN   NaN  NaN  NaN

In [459]:
emp_list = []
for i in range(5,11):
    year = emp.iloc[i,:][0]
    for j in range(1,len(emp.iloc[i,1:])+1):
        date_time = emp.iloc[i,:].index[j] + "/01/" + year
        emp_dict = {"unemp_date" : date_time, "unemp_rate" : emp.iloc[i,:][j]}
        emp_list.append(emp_dict)
unemp_df = pd.DataFrame(emp_list)
unemp_df.unemp_date = pd.to_datetime(unemp_df.unemp_date, format="%m/%d/%Y")
unemp_df.head()

  unemp_date  unemp_rate
0 2013-01-01         8.0
1 2013-02-01         7.7
2 2013-03-01         7.5
3 2013-04-01         7.6
4 2013-05-01         7.5

In [460]:
# save unemployment df
unemp_df.to_pickle("unemp_df.pkl")