# Flask App Test

In [2]:
# Code is borrowed from: https://www.kaggle.com/users/213536/vasco/predict-west-nile-virus/west-nile-heatmap

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.dates as dates
#Remove this when copying to a script on Kaggle:
%matplotlib inline
import datetime as dt
import matplotlib as mpl
import pandas as pd
from sqlalchemy import create_engine
import numpy as np
from catboost import CatBoostClassifier, Pool, cv
mpl.rcParams['figure.dpi']= 300

In [207]:
cnx = create_engine('postgresql://ubuntu:ubuntu@18.236.147.215:5432/weather')
weather = pd.read_sql_query('''SELECT * FROM weather''',cnx,index_col="id")
trap_stations = pd.read_sql_query('''SELECT * FROM traps_stations''',cnx,index_col="id")

In [374]:
trap_stations.columns

Index(['species', 'trap', 'longitude', 'latitude', 'station'], dtype='object')

In [375]:
# Identify the closest trap to the chosen location
def find_closest_trap(lat, lng, df):
    loc = np.array([lat,lng])
    traps = df.groupby(["trap"]).agg("mean").reset_index()
    trap = traps[["latitude", "longitude"]].values
    return traps.iloc[np.argmin(((trap-loc[None,:])**2).sum(1)),0]

In [376]:
closest_trap = find_closest_trap(85,45,trap_stations)
closest_trap

'T100'

In [394]:
trap = trap_stations[(trap_stations.trap == closest_trap) &
                     (trap_stations.species == "CULEX PIPIENS/RESTUANS")]
trap

                    species  trap  longitude   latitude  station
id
200  CULEX PIPIENS/RESTUANS  T100 -87.531657  41.717753      2.0

In [395]:
year = "2007"
Month = "5"
Day = "1"
month = "0"+ Month if len(Month) == 1 else Month
day = "0"+ Day if len(Day) == 1 else Day
date = year + "-" + month + "-" + day
trap["date"] = date

/Users/petermin/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys

In [396]:
weather.station = weather.station.astype(str)
trap.station = trap.station.astype(int).astype(str)
weather.date = weather.date.astype(str)

/Users/petermin/anaconda3/lib/python3.6/site-packages/pandas/core/generic.py:3643: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [397]:
# merge trap & weather dataframes
merged = trap.merge(weather,on=["date","station"],how="inner")
#convert date to datetime
#merged.Date = pd.to_datetime(merged.date)
merged

,species,trap,longitude,latitude,station,date,tmax,tmin,tavg,depart,dewpoint,wetbulb,heat,cool,sunrise,sunset,preciptotal,resultspeed,avgspeed
0,CULEX PIPIENS/RESTUANS,T100,-87.531657,41.717753,2,2007-05-01,84.0,52.0,68.0,14.0,51.0,57.0,0.0,3.0,448.0,1849.0,0.0,2.7,9.6

In [398]:
# merge trap & weather dataframes
merged = trap.merge(weather,on=["date","station"],how="inner")
#convert date to datetime
merged.date = pd.to_datetime(merged.date)
# extract features from datetime and dewpoint
merged['month'] = month
merged['year'] = year
merged['dry'] = merged['dewpoint'].subtract(merged.wetbulb)
merged['week'] = merged['date'].map(lambda x: str(x.isocalendar()[1]))
# add risk feature if month is between june and sept (peak virus season)
merged['risk'] = 1 if (int(month) > 6) and (int(month) < 9) else 0

In [399]:
merged

,species,trap,longitude,latitude,station,date,tmax,tmin,tavg,depart,...,sunrise,sunset,preciptotal,resultspeed,avgspeed,month,year,dry,week,risk
0,CULEX PIPIENS/RESTUANS,T100,-87.531657,41.717753,2,2007-05-01,84.0,52.0,68.0,14.0,...,448.0,1849.0,0.0,2.7,9.6,05,2007,-6.0,18,0

In [404]:
merged2 = merged.drop(["date", "year", "trap"],1)
# Reorder columns
# cols = ["Month","Week","Longitude","Latitude","Tmax","Tmin","Tavg","Depart","DewPoint",
#        "WetBulb","Heat","Cool","Sunrise","Sunset","PrecipTotal","ResultSpeed","AvgSpeed",
#        "Month","Dry","risk"]
cols = ["month","week","longitude","latitude","tmax","tmin","tavg","depart","dewpoint",
        "wetbulb","heat","cool","sunrise","sunset","preciptotal","resultspeed","avgspeed",
        "month","dry","risk"]
X = merged2[cols]

In [405]:
X

,month,week,longitude,latitude,tmax,tmin,tavg,depart,dewpoint,wetbulb,heat,cool,sunrise,sunset,preciptotal,resultspeed,avgspeed,month,dry,risk
0,05,18,-87.531657,41.717753,84.0,52.0,68.0,14.0,51.0,57.0,0.0,3.0,448.0,1849.0,0.0,2.7,9.6,05,-6.0,0

In [406]:
fname = "WNVcatboost_model"
sss = CatBoostClassifier()
loaded_model = sss.load_model(fname)
pred = loaded_model.predict_proba(X)

In [407]:
str(round(pred[0][1]*100,2)) + "%"

'2.56%'